{% extends 'templates/base.twig' %}

{% block metas %}

        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
{% endblock %}

{% block title %}
        {{ Translation.Title }}
{% endblock %}

{% block body %}
        <h1>{{ Translation.Content }}</h1>
{% endblock %}
