RewriteEngine on

RewriteCond %{HTTP_HOST} ^indanielweb.es [NC]
RewriteRule ^(.*)$ http://www.indanielweb.es/$1 [L,R=301]
RewriteCond %{HTTP_HOST} ^indanielweb.com [NC]
RewriteRule ^(.*)$ http://www.indanielweb.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?page_request=$1 [L,QSA]

errordocument 404 /notfound
